node_modules
dist
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npm
.git
.gitignore
.vscode
apps/frontend/dist
apps/backend/dist
packages/database/dist
packages/database/.env
